footer(class="footer", style="position: absolute;bottom: 0;width: 100%;height: 60px;line-height: 60px;background-color: #f5f5f5;")
    div.container
        span(class="text-muted") Programação Web Avançada - 2019-2020 - UAb - André Santo